.mainDiv {
    overflow-x: hidden;
}

.mainDivApp {
    width: 40rem;
    height: fit-content;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    overflow: hidden;
    border-radius: 0 3rem;
    /* box-shadow: 1rem 2rem 2rem gray; */
    transition: linear 0.3s;
}

.mainDivApp:hover,
.mainDivApp:focus {
    box-shadow: 1rem 2rem 1.5rem gray;
}

.Transaction-form input {
    width: 110%;
}

button {
    width: 100%;
}

.SecondRow {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.amountDiv {
    border-right: 1px solid gray;
    padding: 1rem;
}

.amountDiv h2 {
    border-bottom: 1px solid gray;
}

.incomeSpan {
    border-bottom: 2px solid green !important;
}

.expenseSpan {
    border-bottom: 2px solid red !important;
}


/*  Hisitory  */

.History h3 {
    font-size: 1.2rem;
    font-weight: normal;
}

.transaction_list li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid gray;
    padding: 0.4rem;
    margin: 0.3rem 0;
}

.minus {
    border-right: 3px solid red;
}

.plus {
    border-right: 3px solid green;
}


/*   Delete Btn  */

.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 3px 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

li:hover .delete-btn {
    opacity: 1;
}

.delete-btn {
    width: auto;
    background-color: gray;
}

@media only screen and (max-width: 768px) {
    .mainDivApp {
        width: 95%;
        height: fit-content;
    }
    .amountDiv h2 {
        font-size: 110%;
    }
    .incomeExpenses h4 {
        font-size: 100%;
    }
    .AddTransactionclass h4,
    .AddTransactionclass h5 {
        font-size: 100%;
    }
    .History h2,
    .History h3 {
        font-size: 100%;
    }
}